<app-home></app-home>

<p class="lead mt-5 mb-3">Reservation List</p>

<table class="table table-striped" *ngIf="reservations.length; else noReservation">
  <thead>
    <th>Guest</th>
    <th>Email</th>
    <th>Room Number</th>
    <th>Check-In</th>
    <th>Check-Out</th>
    <th></th>
  </thead>
  <tbody>
    <tr *ngFor="let reservation of reservations;">
      <td>{{reservation.guestName}}</td>
      <td>{{reservation.guestEmail}}</td>
      <td>{{reservation.roomNumber}}</td>
      <td>{{reservation.checkInDate}}</td>
      <td>{{reservation.checkOutDate}}<td>
      <td>
        <button class="btn btn-danger mx-2" (click)="deleteReservation(reservation.id)">Delete</button>
        <button class="btn btn-info mx-2" [routerLink]="['/edit', reservation.id]">Edit</button>
      </td>
    </tr>
  </tbody>
</table>

<ng-template #noReservation>
  <p>No reservation available.</p>
</ng-template>
